<div>
    <h2 id="page-heading">
        <span jhiTranslate="hitneApp.ponudjaci.home.title">Ponudjacis</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-ponudjaci" [routerLink]="['/ponudjaci/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="hitneApp.ponudjaci.home.createLabel">
            Create a new Ponudjaci
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="ponudjacis?.length === 0">
        <span jhiTranslate="hitneApp.ponudjaci.home.notFound">No ponudjacis found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="ponudjacis?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
<!--                    <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>-->
                    <th scope="col"  jhiSortBy="ponudjac"><span jhiTranslate="hitneApp.ponudjaci.ponudjac">Ponudjac</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="kontakt"><span jhiTranslate="hitneApp.ponudjaci.kontakt">Kontakt</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="adresa"><span jhiTranslate="hitneApp.ponudjaci.adresa">Adresa</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="grad"><span jhiTranslate="hitneApp.ponudjaci.grad">Grad</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="telefon"><span jhiTranslate="hitneApp.ponudjaci.telefon">Telefon</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="email"><span jhiTranslate="hitneApp.ponudjaci.email">Email</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="postanskibroj"><span jhiTranslate="hitneApp.ponudjaci.postanskibroj">Postanskibroj</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="pib"><span jhiTranslate="hitneApp.ponudjaci.pib">Pib</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="fax"><span jhiTranslate="hitneApp.ponudjaci.fax">Fax</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="web"><span jhiTranslate="hitneApp.ponudjaci.web">Web</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let ponudjaci of ponudjacis ;trackBy: trackId">
<!--                    <td><a [routerLink]="['/ponudjaci', ponudjaci.id, 'view']">{{ ponudjaci.id }}</a></td>-->
                    <td>{{ ponudjaci.ponudjac }}</td>
                    <td>{{ ponudjaci.kontakt }}</td>
                    <td>{{ ponudjaci.adresa }}</td>
                    <td>{{ ponudjaci.grad }}</td>
                    <td>{{ ponudjaci.telefon }}</td>
                    <td>{{ ponudjaci.email }}</td>
                    <td>{{ ponudjaci.postanskibroj }}</td>
                    <td>{{ ponudjaci.pib }}</td>
                    <td>{{ ponudjaci.fax }}</td>
                    <td>{{ ponudjaci.web }}</td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/ponudjaci', ponudjaci.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/ponudjaci', ponudjaci.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(ponudjaci)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="ponudjacis?.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>

        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
