.form-control {
  width: 300px;
  height: 40px;
}
.input-group {
  width: 300px;
  height: 40px;
}
.col-8 {
  width: 50px;
  height: 600px;
}
.card-body {
  width: 600px;
  height: 600px;
}
.card {
  margin: 0 auto; /* Added */
  float: none; /* Added */
  margin-bottom: 10px; /* Added */
}
