<div>
    <h2 id="page-heading">
        <span jhiTranslate="hitneApp.hitne.home.title">Hitnes</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-hitne" [routerLink]="['/hitne/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="hitneApp.hitne.home.createLabel">
            Create a new Hitne
            </span>
        </button>
    </h2>
    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="brojPokretanja" id="brojpokretanja" name="brojpokretanja" placeholder="broj pokretanja">

                    <button class="input-group-append btn btn-info" (click)="searchBrojPokretanja()">
                        <fa-icon icon="search"></fa-icon>
                    </button>

                    <button class="input-group-append btn btn-danger" (click)="prazansearch()" >
                        <fa-icon icon="trash-alt"></fa-icon>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="hitnes?.length === 0">
        <span jhiTranslate="hitneApp.hitne.home.notFound">No hitnes found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="hitnes?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
<!--                    <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>-->
                    <th scope="col"  jhiSortBy="brojpokretanja"><span jhiTranslate="hitneApp.hitne.brojpokretanja">Brojpokretanja</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="datumpokretanja"><span jhiTranslate="hitneApp.hitne.datumpokretanja">Datumpokretanja</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="vrijednost"><span jhiTranslate="hitneApp.hitne.vrijednost">Vrijednost</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="naziv"><span jhiTranslate="hitneApp.hitne.naziv">Naziv</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="ponudjaci.ponudjac"><span jhiTranslate="hitneApp.hitne.ponudjaci">Ponudjaci</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let hitne of hitnes ;trackBy: trackId">
<!--                    <td><a [routerLink]="['/hitne', hitne.id, 'view']">{{ hitne.id }}</a></td>-->
                    <td>{{ hitne.brojpokretanja }}</td>
                    <td>{{ hitne.datumpokretanja | date:'mediumDate' }}</td>
                    <td>{{ hitne.vrijednost }}</td>
                    <td>{{ hitne.naziv }}</td>
                    <td>
                        <div *ngIf="hitne.ponudjaci">
                            <a [routerLink]="['/ponudjaci', hitne.ponudjaci?.id, 'view']" >{{ hitne.ponudjaci?.ponudjac }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/hitne', hitne.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/hitne', hitne.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(hitne)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                        <div class="btn-group">
                            <button type="button" class="btn btn-primary btn-sm"(click)="printReportPokretanje(hitne.brojpokretanja)">Pokretanje</button>
                            <button type="button" class="btn btn-primary btn-sm"(click)="printReportZahtjev(hitne.brojpokretanja)">Zahtjev</button>
                            <button type="button" class="btn btn-primary btn-sm"(click)="printReportOdluka(hitne.brojpokretanja)">Odluka</button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="hitnes?.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>

        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
